<div class="row">
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="isDivVisible">
      Div 1
    </div>
  </div>
  <div class="col-3">
    <div class="bg-success p-3" *ngIf="isDiv2Visible">
      Div 2
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 pt-3 text-center">
    <button class="btn btn-sm btn-success" (click)="hideDiv1()"> Hide</button>
    <button class="btn btn-sm btn-primary" (click)="showDiv1()"> Show</button>
  </div>
  <div class="col-3">
    <button class="btn btn-sm btn-success" (click)="toggleDiv2()"> Toggle</button>
  </div>
</div>

