<div class="row">
  <div class="col-5">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-12">
          <label for="">Name</label>
          <input type="text" class="form-control" formControlName="username">
          <div class="text-danger" *ngIf="userForm.controls['username'].touched">
            <span *ngIf="userForm.controls['username'].errors?.['required']">This is required</span>
            <span *ngIf="userForm.controls['username'].errors?.['minlength']">min length </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="">Password</label>
          <input type="text" class="form-control"  formControlName="password">
          <div class="text-danger" *ngIf="userForm.controls['password'].touched">
            <span *ngIf="userForm.controls['password'].errors?.['required']">This is required</span>
            <span *ngIf="userForm.controls['password'].errors?.['maxlength']">max length </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="">City</label>
          <input type="text" class="form-control"  formControlName="city">
        </div>
        <div class="col-6">
          <label for="">State</label>
          <input type="text" class="form-control"  formControlName="state">
        </div>
      </div>
      <div class="row" formGroupName="family">
        <div class="col-6">
           <label for="">Mother </label>
           <input type="text" class="form-control"  formControlName="motherName">
        </div>
        <div class="col-6">
          <label for="">Mother </label>
          <input type="text" class="form-control"  formControlName="fatherName">
       </div>
      </div>
      <div class="row pt-3">
        <div class="col-6">
          <button class="btn btn-danger" (click)="ClearForm()">Clear</button>
        </div>
        <div class="col-6">
          <button class="btn btn-success" [disabled]="userForm.invalid" (click)="onUserSave()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
