<div class="row">
  <div class="col-3">  {{number1}} </div>
  <div class="col-3">   {{number2}} </div>
  <div class="col-3">  = {{result}} </div>
</div>
<div class="row">
  <div class="col-2">
    <button class="btn btn-sm btn-primary" (click)="onAdd()">
       Add</button>
  </div>
  <div class="col-2">
    <button class="btn btn-sm btn-primary" (click)="onSub()" >
      Subtract</button>
  </div>
  <div class="col-2">
    <button class="btn btn-sm btn-primary" (click)="onMul()">
      Multply</button>
  </div>
  <div class="col-2">
    <button class="btn btn-sm btn-primary" (click)="onDivide()">
      Divide</button>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <input type="text"  [(ngModel)] ="cityName">
  </div>
  <div class="col-2">
    <button class="btn btn -sm  btn-success" (click)="addCity()">Add City</button>
  </div>
  <div class="col-3">
    {{cityArray}}
   <ul>
    <li *ngFor="let item of cityArray">{{item}}</li>
   </ul>
  </div>
</div>




