<!-- <a routerLink="emp">Employee Page</a> |
<a routerLink="user">User Page</a>|
<a routerLink="Data-Binding">Data Binding</a>|
<a routerLink="calculator">Calculator</a>|
<a routerLink="createStudent">Add Student</a>|
<a routerLink="ng-if">ng-if</a>|
<a routerLink="ng-for">ng-For</a>|
<a routerLink="ng-class">ng-class</a>| -->
<a routerLink="ng-style">ng-style</a>|
<a routerLink="pipe">pipes</a>|
<a routerLink="users">Users</a>|
<a routerLink="create-Product">Create Product</a>|
<a routerLink="product-List">Products</a>|
<a routerLink="emp-List">Employees </a>|
<a routerLink="template">Template </a>|
<a routerLink="get-api">Get </a>|
<a routerLink="Course">Course </a>|
<a routerLink="enquiry">enquiry </a>|
<a routerLink="candidate">candidate </a>|
<a routerLink="client">client </a>|
<a routerLink="json">Json Api </a>|
|
<a routerLink="DataBindig2">Binding 2 </a>|
<a routerLink="ngIfFor">ngIfFor </a>
<div style="border: 1px solid black;">
  <router-outlet></router-outlet>
</div>


