<div class="row">
  <div class="col-md-3">
    <input type="text" class="form-conytol" placeholder="Name" [(ngModel)]="userObj.name">
  </div>
  <div class="col-md-3">
    <input type="text" class="form-conytol" placeholder="Email" [(ngModel)]="userObj.email">
  </div>
  <div class="col-md-3">
    <input type="radio" name="gender" [(ngModel)]="userObj.gender" value="female">Female
    <input type="radio" name="gender" [(ngModel)]="userObj.gender" value="male">Male
  </div>
  <div class="col-md-3">
   <select class="form-control" [(ngModel)]="userObj.status">
    <option>Active</option>
    <option>Inactive</option>
   </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <input type="button" (click)="onSave()" value="Save">
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of user">
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.gender | titlecase}}</td>
          <td>{{data.status | titlecase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
