<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">Enquiry List</div>
                    <div class="col-6"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 p-1" *ngFor="let item of enquiryList">
                        <div class="card">
                            <div class="card-header bg-primary">{{item.name}}</div>
                            <div class="card-body">
                                <p class="card-text">{{item.query}}</p>
                                <span>{{item.email}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <table class="table table-bordered">
                    <tr>
                        <th>Sr </th>
                        <th>Name</th>
                        <th>Conatct No</th>
                        <th>Email</th>
                        <th>Query</th>
                    </tr>
                    <tr *ngFor="let item of enquiryList;let sr= index">
                        <td>{{sr+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.contactNo}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.query}}</td>
                    </tr>
                </table> -->
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6"> Create Course Form</div>
                    <div class="col-6"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for=""> Name</label>
                        <input type="text" class="form-control" [(ngModel)]="enquiryObject.Name">
                    </div>
                    <div class="col-12">
                        <label for="">Contact</label>
                        <input type="text" class="form-control" [(ngModel)]="enquiryObject.ContactNo">
                    </div>
                    <div class="col-12">
                        <label for="">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="enquiryObject.Email">
                    </div>
                    <div class="col-12">
                        <label for="">Query</label>
                        <textarea class="form-control" [(ngModel)]="enquiryObject.Query" rows="2"></textarea>

                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-sm btn-secondary">Cancel</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-sm btn-primary" (click)="onSaveEnquiry()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
